Django==5.1.6
django-appconf==1.0.4
django-imagekit==5.0.0
pilkit==3.0
Pillow==10.3.0
pytz==2025.1
six==1.13.0
sqlparse==0.5.0
djangorestframework==3.15.2
tqdm==4.66.3
gunicorn==22.0.0
django-dbbackup==4.2.1
django-debug-toolbar==5.0.1
requests==2.32.2
meilisearch==0.33.1
django-extensions==3.1.1
pydotplus==2.0.1
pandas==2.2.3
