Django==3.2.25
django-appconf==1.0.4
django-imagekit==4.0.2
pilkit==2.0
Pillow==10.2.0
pytz==2019.3
six==1.13.0
sqlparse==0.4.4
djangorestframework==3.12.2
tqdm==4.48.0
gunicorn==22.0.0
django-dbbackup==3.3.0
django-debug-toolbar==2.2.1
requests==2.31.0
meilisearch==0.24.0
django-extensions==3.1.1
pydotplus==2.0.1
pandas==1.1.5
