{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="panel ">
            <div class="panel-body">
              <p class="m-t-md">
                Votre mot de passe a bien été mis à jour !
              </p>
              <a href="{% url 'login' %}" class="btn btn-primary">Connexion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

