{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="panel ">
            <div class="panel-body">
              <form method="post">{% csrf_token %}
                <h4>Mot de passe oublié</h4>
                <div class="form-group">
                  <input type="email" placeholder="Votre adresse email" name="email" class="form-control no-border" required>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Confirmer</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}








