{% extends 'administration/base.html' %}
{% load static %}
{% block body %}

  <p class="m-t-md text-center">
    Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour
    autant qu'un compte existe avec l'adresse que vous avez indiquée. <br>
    Vous devriez recevoir rapidement ce message. <br>
    Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle
    vous vous êtes enregistré et contrôlez votre dossier de courriels.
  </p>


{% endblock %}
