{% extends 'administration/base.html' %}
{% load static %}

{% block body %}

  <form method="post">{% csrf_token %}
    <div class="list-group list-group-sm">
      <div class="list-group-item">
        {{ form.new_password1.errors }} {{ form.new_password1 }}
      </div>
      <div class="list-group-item">
        {{ form.new_password2.errors }} {{ form.new_password2 }}
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Send</button>
  </form>

{% endblock %}
