{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="panel ">
            <div class="panel-body">
              <p class="m-t-md text-center">
                Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour
                autant qu'un compte existe avec l'adresse que vous avez indiquée. <br>
                Vous devriez recevoir rapidement ce message. <br>
                Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle
                vous vous êtes enregistré et contrôlez votre dossier de courriels.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}

