{% extends 'base.html' %}
{% block content %}
<section class="bg-primary pt-5" id="password_change">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3 class="text-center text-white mb-5">Changer mon mot de passe</h3>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
                <h4>Mot de passe modifié avec succès</h4>

                <div class="alert-primary p-20 my-2">
                  Votre mot de passe a été modifié.
                </div>

                <a href="{% url 'accounts:mon-compte' %}" class="btn btn-primary">Retour à mon compte</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
