{% extends 'base.html' %}
{% block content %}
<section class="bg-primary pt-5" id="password_change">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3 class="text-center text-white mb-5">Changer mon mot de passe</h3>
      </div>
      <div class="col-lg-9">
        <div class="card">
          <div class="card-body">
                <form method="post">{% csrf_token %}
                  <h4>Changer mon mot de passe</h4>
                <div>
                {% if form.errors %}
                    <p class="alert-danger p-20 my-2">
                      Corrigez les erreurs ci-dessous.
                    </p>
                {% endif %}
                <div class="alert-primary p-20 my-2">
                  Pour des raisons de sécurité, saisissez votre ancien mot de passe puis votre nouveau mot de passe à deux reprises afin de vérifier qu’il est correctement saisi.
                </div>

                <fieldset class="module aligned wide">
                {% for field in form %}
                  {% include 'stack_field.html' with with_helptext='true' %}
                {% endfor %}

                </fieldset>

                <div class="submit-row">
                    <input type="submit" value="Modifer mon mot de passe" class="btn btn-primary">
                </div>

                </div>
                </form></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}