{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section>
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="panel ">
            <div class="panel-body">
              <form method="post">{% csrf_token %}
                {% for field in form %}
                  {% include 'stack_field.html' %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}

