{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_superuser %}
<p class="text-right">
  <a href="{% url 'accounts:access-logs' %}?rows=50" class="btn btn-alt-secondary"> <i class="fa fa-lock"></i> See access logs </a>
</p>
{% endif %}
<div class="block block-rounded">
  <div class="block-content bg-body-light">
    <!-- Search -->
    <div class="d-flex">
      <form action="" method="get" style="flex:6">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search clients.." value="{{ request.GET.query }}">
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div style="flex:1;text-align:center;">
        <a href="{% url 'accounts:user-create' %}" class="btn btn-primary"><i class="fa fa-plus"></i> New user</a>
      </div>
    </div>
    <!-- END Search -->
  </div>
  <div class="block-content">
    <table class="table table-borderless table-hover table-striped">
      <thead>
      <tr>
        <th style="width: 15%">Last name</th>
        <th style="width: 15%">First name</th>
        <th style="width: 30%">Email</th>
        <th style="width: 15%">Group</th>
        <th style="width: 24%">Last login</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for user in object_list %}
      <tr>
        <td>{{ user.last_name }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.email }}</td>
        <td>{% for group in user.groups.all %} {{ group }} {% if not forloop.last %},{% endif %}{% empty %} ---- {% endfor %}</td>
        <td>{{ user.last_login|default_if_none:"----" }}</td>
        <td><a href="{% url 'accounts:user-update' user.uuid %}">edit</a></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">
          No user here
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <!-- END Products Table -->
    <!-- Navigation -->
    <nav aria-label="Products navigation">
      {% include 'paginator.html' %}
    </nav>
    <!-- END Navigation -->
  </div>
</div>
{% endblock %}
{% block js_extra %}
{% endblock %}
