{% load static %}
{% load fabtags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="author" content="Fabdev"/>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type='image/x-icon'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block meta_tags %}
  <title>Inventaire national des orgues</title>
  <meta name="description" content="La France compte plus de 8500 orgues sur tout le territoire national, dont plus de 1600 sont classés ou inscrits au titre des monuments historiques. La beauté et la diversité de ses orgues sont reconnues dans le monde entier. En plus de mettre en avant la grande qualité de la facture d'orgue française, ce patrimoine offre un éventail complet de toutes les créations artistiques témoins des écoles européennes à travers le temps.L’inventaire des orgues a pour objectif de rassembler de manière collaborative sur un site internet dédié toutes les données actuellement disponibles sur les orgues en France.">
  <meta property="og:title" content="Inventaire national des orgues">
  <meta property="og:description" content="La France compte plus de 8500 orgues sur tout le territoire national, dont plus de 1600 sont classés ou inscrits au titre des monuments historiques. La beauté et la diversité de ses orgues sont reconnues dans le monde entier. En plus de mettre en avant la grande qualité de la facture d'orgue française, ce patrimoine offre un éventail complet de toutes les créations artistiques témoins des écoles européennes à travers le temps.L’inventaire des orgues a pour objectif de rassembler de manière collaborative sur un site internet dédié toutes les données actuellement disponibles sur les orgues en France.">
  <meta property="og:image" content="{% static 'img/orgue_illustration_enfants.jpg' %}">
  {% endblock %}
  <link href="{% static 'polo/css/plugins.css' %}" rel="stylesheet">
  <link href="{% static 'polo/scss/style.css' %}" rel="stylesheet">
  <link href="{% static 'polo/css/custom.css' %}?date={% now 'Ymd' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/lightbox/css/lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/trumbowyg/ui/trumbowyg.min.css' %}">

  {% block head_extra %}
  {% endblock %}
</head>
<body>
{% block body %}
  <div id="topbar" class="dark topbar-fullwidth">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="top-menu">
            <li><a href="https://inventaire-des-orgues.fr/admin/"><i class="fa fa-cog"></i></a></li>
            <li><a href="https://github.com/inventaire-des-orgues/portail/projects/1"><i class="fa fa-columns"></i></a></li>
            {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'logout' %}">Déconnexion</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}">Connexion</a>
              </li>
              <li>
                <a href="{% url 'accounts:inscription' %}">Inscription</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-6 d-none d-sm-block">
          <div class="social-icons social-icons-colored-hover">
            <ul>
              <li class="social-en"><a href="{% url 'contact' %}"><i class="fa fa-envelope"></i></a></li>
              <li class="social-facebook"><a href="https://fr-fr.facebook.com/orgueenfrance/"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section id="logo-header">
    <a class="" href="https://docs.inventaire-des-orgues.fr" id="lien-documentation" target="_blank" rel="noopener noreferrer">
      <i class="far text-dark fa-question-circle"></i>
    </a>
    <div class="container">
      <div class="page-title">
        <a href="/">
          <img src="{% static 'img/logo.png' %}" alt="" width="200px">
        </a>
      </div>
    </div>
  </section>
  <!-- end: Page title -->
  <!-- Page Menu -->
  <div class="page-menu menu-outline">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'accueil' %}">Accueil</a>
          </li>
          <li>
            <a href="{% url 'orgues:orgue-carte' %}">Carte</a>
          </li>
          <li>
            <a href="{% url 'orgues:orgue-list' %}">Les orgues</a>
          </li>
          <li>
            <a href="{% url 'lexique' %}">Lexique</a>
          </li>
        </ul>
      </nav>
      <div id="pageMenu-trigger">
        <i class="fa fa-lg fa-bars" style="color: #5c1c54"></i>
      </div>
    </div>
  </div>
  {% block content %}
    <section id="page-content">
    </section>
  {% endblock %}
  {% block modal %}
  {% endblock %}

  {% include 'footer.html' %}
{% endblock %}
<script src="{% static 'polo/js/jquery.js' %}"></script>
<script src="{% static 'plugins/popper/popper.min.js' %}"></script>
<script src="{% static 'polo/js/plugins.js' %}"></script>
<script src="{% static 'polo/js/functions.js' %}"></script>
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
<script src="{% static 'plugins/select2/i18n/fr.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'plugins/lightbox/js/lightbox.min.js' %}"></script>
{% include 'messages.html' %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<script>
  $(".menu-outline ul li a").each(function () {
    if ($(this).attr("href") === window.location.pathname) {
      $(this).parent().addClass("active")
    }
  })
</script>


{% block js_extra %}
{% endblock %}
</body>
</html>
