{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="bg-primary pt-5" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="text-center text-white mb-5">Nous contacter</h3>
            </div>
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/iso.png' %}" alt="" width="300px" style="display: block; margin: auto">
                                <p>Ici vous pouvez nous contacter si vous avez des recommandations particulières ou bien un problème quelconque avec l'utilisation de l'inventaire des orgues.</p>
                                <p>C'est ici également que vous pouvez signaler un orgue (généralement récent) qui ne serait pas répertorié.</p>
                                <p>Pour cela, envoyez-nous un mail avec les informations suivantes:</p>
                                <p>
                                <ol style="color: #777777; padding-left: 1em">
                                    <li>La Région</li>
                                    <li>La ville</li>
                                    <li>Le nom complet de l'édifice</li>
                                </ol>
                                </p>
                                <p>Nous traiterons votre demande.</p>
                            </div>
                            <div class="col-lg-6"> {% include 'contact_form.html' %}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block js_extra %}

<script src="https://www.google.com/recaptcha/api.js"></script>
  <script>
    function onSubmit(token) {
      document.getElementById("contact-form").submit();
    }
  </script>
{% endblock %}
