{% load static %}
<footer id="footer" class="inverted">
  <div class="footer-content">
    <div class="container">
      <div class="row align-items-top">
        <!--
        <div class="col-lg-3 mt-4 testimg">
          <img src="{% static 'img/logo-nb.png' %}" alt="" style="width:150px; display:block; margin-left: auto; margin-right: auto;">
        </div>
        -->
        <div class="col-lg-3 mt-4">
          <img src="{% static 'img/orgue-en-france.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto; margin-bottom: auto;">
        </div>
        <div class="col-lg-3 mt-4">
          <img src="{% static 'img/Soutenu_ministere_culture.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-lg-3 mt-4">
          <img src="{% static 'img/logo-facteurs-neg.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-lg-3 mt-4">
          <img src="{% static 'img/FFAO.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div class="row align-items-top">
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_bretagne2.png' %}" alt="" style="width:160px; display:block; margin-left: 55%">
        </div>
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_bourgogne.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_CVL.png' %}" alt="" style="width:140px; display:block; margin-right: 100%;">
        </div>
      </div>
      <div class="row align-items-top">
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_OPL.png' %}" alt="" style="width:160px; display:block; margin-left: 45%">
        </div>
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_adora.png' %}" alt="" style="width:160px; display:block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="col-lg-4 mt-4">
          <img src="{% static 'img/logo_paris.png' %}" alt="" style="width:200px; display:block; margin-right: 50%;">
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-content">
    <div class="container">
      <div class="row align-items-top">
        <div class="col-lg-3 mt-2"></div>
        <div class="col-lg-3 mt-4">
          <div class="widget">
            <div class="widget-title">Liens</div>
            <ul class="list">
              <li>
                <a href="{% url 'accueil' %}">Accueil</a>
              </li>
              {% if user.is_staff %}
              <li>
                <a href="{% url 'accounts:access-logs' %}">Logs</a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'orgues:orgue-carte' %}">Carte</a>
              </li>
              <li>
                <a href="{% url 'orgues:orgue-list' %}">Les orgues</a>
              </li>
              <li>
                <a class="" href="https://vocabulaire.inventaire-des-orgues.fr">Lexique</a>
              </li>
              <li>
                <a class="" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="widget">
            <div class="widget-title">Contribuer</div>
            {% if request.user.is_authenticated %}
              Vous êtes connecté(e) en temps que "{{ request.user }}"
            {% endif %}
            <ul class="list">
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'logout' %}">Déconnexion</a>
                {% else %}
                  <a href="{% url 'login' %}">Se connecter</a>
                {% endif %}
              </li>
              <li>
                <a class="" href="https://docs.inventaire-des-orgues.fr" target="_blank" rel="noopener noreferrer">Aide</a>
              </li>
              <li>
                <a href="https://docs.inventaire-des-orgues.fr/charte-du-contributeur/">Charte du contributeur</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-4">
          <div class="widget">
            <div class="widget-title">Développer</div>
            <ul class="list">
              <li>
                <a href="https://github.com/inventaire-des-orgues/portail/projects/1" target="_blank" rel="noopener noreferrer">Projet Github du portail</a>
              </li>
              <li>
                <a href="https://github.com/inventaire-des-orgues/portail/issues">Tickets Github du portail</a>
              </li>
              <li>
                <a href="https://github.com/orgs/inventaire-des-orgues/projects/1">Projet Inventaire sur Github</a>
              </li>
                <li>
                <a href="https://github.com/inventaire-des-orgues/docs/issues">Tickets Github de la doc</a>
              </li>
                <li>
                <a href="https://github.com/inventaire-des-orgues/indexes/issues">Tickets Github des données</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 mt-2"></div>
      </div>
    </div>
  </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="copyright-text text-center text-light">Inventaire des orgues - <a href="https://docs.inventaire-des-orgues.fr/mentions-legales/" target="_blank" rel="noopener noreferrer">Mentions légales</a> - Développement :
        <a href="https://fabdev.fr" target="_blank" rel="noopener noreferrer">FABDEV</a> et contributeurs - Design : Guillaume Lechevalier-Boissel & FABDEV - <a href="https://github.com/inventaire-des-orgues/portail" target="_blank" rel="noopener noreferrer">Code source</a>
      </div>
    </div>
  </div>
</footer>
