{% load static %}
<footer id="footer" class="inverted">
  <div class="footer-content">
    <div class="container">
      <div class="row justify-content-center align-items-top">
        <div class="col-lg-3 col-md-6 mt-4 text-center">
          <h4 class="text-white border-bottom pr-3 font-weight-bold">Une initiative de</h4>
          <img src="{% static 'img/orgue-en-france.png' %}" alt="Orgue en France" class="footerbiglogo">
        </div>
        <div class="col-lg-3 col-md-6 mt-4 text-center">
          <h4 class="text-white border-bottom pr-3 font-weight-bold">Soutenu par</h4>
          <img src="{% static 'img/ministere_culture.png' %}" alt="Ministère de la Culture" class="footerbiglogo">
        </div>
        <div class="col-lg-3 col-md-6 mt-4 text-center">
          <h4 class="text-white border-bottom pr-3 font-weight-bold">Avec le concours de</h4>
          <img src="{% static 'img/logo-facteurs-neg.png' %}" alt="L'ameublement français" class="footerbiglogo">
        </div>
        <div class="col-lg-3 col-md-6 mt-4 text-center">
          <h4 class="text-white border-bottom pr-3 font-weight-bold">Avec le concours de</h4>
          <img src="{% static 'img/FFAO.png' %}" alt="FFAO" class="footerbiglogo">
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-4">
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_bretagne.png' %}" alt="Région Bretagne" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_bourgogne.png' %}" alt="Région Bourgogne" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_CVL.png' %}" alt="Centre Val de Loire" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_OPL.png' %}" alt="Orgue en Pays de Loire" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_adora.png' %}" alt="Adora" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_paris.png' %}" alt="Ville de Paris" class="footerlogo">
        </div>
        <div class="col-lg-3 col-md-4 col-6 text-center mt-4">
          <img src="{% static 'img/logo_toulouse.png' %}" alt="Toulouse les orgues" class="footerlogo">
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-content">
    <div class="container">
      <div class="row no-gutters align-items-top justify-content-center">
        <div class="col-md-4 mt-4">
          <div class="widget px-4 h-100 text-center">
            <div class="widget-title">Liens</div>
            <ul class="list pl-0">
              <li>
                <a href="{% url 'accueil' %}">Accueil</a>
              </li>
              {% if user.is_staff %}
                <li>
                  <a href="{% url 'accounts:access-logs' %}">Logs</a>
                </li>
              {% endif %}
              <li>
                <a href="{% url 'orgues:orgue-carte' %}">Carte</a>
              </li>
              <li>
                <a href="{% url 'orgues:orgue-list' %}">Les orgues</a>
              </li>
              <li>
                <a class="" href="https://vocabulaire.inventaire-des-orgues.fr">Lexique</a>
              </li>
              <li>
                <a class="" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 mt-4">
          <div class="widget px-4 h-100 text-center">
            <div class="widget-title">Contribuer</div>
            {% if request.user.is_authenticated %}
              Vous êtes connecté(e) en temps que "{{ request.user }}"
            {% endif %}
            <ul class="list pl-0">
              <li>
                {% if request.user.is_authenticated %}
                  <a href="{% url 'logout' %}">Déconnexion</a>
                {% else %}
                  <a href="{% url 'login' %}">Se connecter</a>
                {% endif %}
              </li>
              <li>
                <a class="" href="https://docs.inventaire-des-orgues.fr" target="_blank" rel="noopener noreferrer">Aide</a>
              </li>
              <li>
                <a href="https://docs.inventaire-des-orgues.fr/charte-du-contributeur/">Charte du contributeur</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 mt-4 ">
          <div class="widget px-4 h-100 text-center" >
            <div class="widget-title">Développer</div>
            <ul class="list pl-0">
              <li>
                <a href="https://github.com/inventaire-des-orgues/portail/projects/1" target="_blank" rel="noopener noreferrer">Projet Github du portail</a>
              </li>
              <li>
                <a href="https://github.com/inventaire-des-orgues/portail/issues">Tickets Github du portail</a>
              </li>
              <li>
                <a href="https://github.com/orgs/inventaire-des-orgues/projects/1">Projet Inventaire sur Github</a>
              </li>
              <li>
                <a href="https://github.com/inventaire-des-orgues/docs/issues">Tickets Github de la doc</a>
              </li>
              <li>
                <a href="https://github.com/inventaire-des-orgues/indexes/issues">Tickets Github des données</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="copyright-content">
    <div class="container">
      <div class="copyright-text text-center text-light">Inventaire des orgues -
        <a href="https://docs.inventaire-des-orgues.fr/mentions-legales/" target="_blank" rel="noopener noreferrer">Mentions légales</a> - Développement :
        <a href="https://fabdev.fr" target="_blank" rel="noopener noreferrer">FABDEV</a> et contributeurs - Design : Guillaume Lechevalier-Boissel & FABDEV -
        <a href="https://github.com/inventaire-des-orgues/portail" target="_blank" rel="noopener noreferrer">Code source</a>
      </div>
    </div>
  </div>
</footer>
