{% extends 'base.html' %}
{% load static %}
{% load fabtags %}




{% block content %}


  <section class="py-3 bg-light" id="mainsection">
    <div class="container ">
      <div class="row">
        <div class="col-lg-12 my-4 text-center text-md-left">
          <div class="mb-3">
            <a href="{% if request.session.orgues_url %}{{ request.session.orgues_url }}{% else %}{% url 'orgues:orgue-list' %}{% endif %}">
              Résultats de recherche
            </a> <span class="px-2 font-weight-600 text">></span>
            <a href="{% url 'orgues:orgue-detail' orgue.slug %}">
            Fiche orgue
            </a> <span class="px-2 font-weight-600 text">></span> Compléter la fiche
          </div>


          <h2 class="mb-0">
            {{ orgue.edifice|capfirst }} 
            {% if orgue.etat == "disparu" %}
              (Orgue disparu) 
            {% endif %} <br>
          </h2>
          <h4 class="text-muted">
            {{ orgue.commune }}{% if orgue.ancienne_commune %} ({{ orgue.ancienne_commune }}){% endif %}, {{ orgue.departement }}
            <small>
              | {{ orgue.designation|default_if_none:"Orgue" }}
            </small>
          </h4>
        </div>
        <div class="col-lg-3">
          <div class="list-group">
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block information_active %}{% endblock %}" href="{% url 'orgues:orgue-update' orgue.uuid %}">
              Informations générales
            </a>
            {% if perms.orgues.change_localisation %}
              <a class="list-group-item d-flex justify-content-between align-items-center
              {% block localisation_active %}{% endblock %}" href="{% url 'orgues:orgue-update-localisation' orgue.uuid %}">
              Localisation
              </a>
            {% endif %}
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block evenement_active %}{% endblock %}" href="{% url 'orgues:evenement-list' orgue.uuid %}">
              Historique
              <span class="badge badge-light badge-pill">{{ orgue.evenements.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block buffet_active %}{% endblock %}" href="{% url 'orgues:orgue-update-buffet' orgue.uuid %}">
              Buffet / Console
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block instrumentale_active %}{% endblock %}" href="{% url 'orgues:orgue-update-instrumentale' orgue.uuid %}">
              Partie instrumentale
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block composition_active %}{% endblock %}" href="{% url 'orgues:orgue-update-composition' orgue.uuid %}">
              Composition
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block image_active %}{% endblock %}" href="{% url 'orgues:image-list' orgue.uuid %}">
              Images
              <span class="badge badge-light badge-pill">{{ orgue.images.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block fichier_active %}{% endblock %}" href="{% url 'orgues:fichier-list' orgue.uuid %}">
              Fichiers
              <span class="badge badge-light badge-pill">{{ orgue.fichiers.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block source_active %}{% endblock %}" href="{% url 'orgues:source-list' orgue.uuid %}">
              Sources
              <span class="badge badge-light badge-pill">{{ orgue.sources.count }}</span>
            </a>
          </div>
          <div class="my-3">
            <small style="color:#5c1c54">Avancement : {{ orgue.completion }}%
              <a href="{% url 'orgues:orgue-detail-avancement' orgue.uuid %}" class="pl-1">voir détail</a>
            </small>
            <div class="progress" style="height:5px">
              <div class="progress-bar" role="progressbar" style="width: {{ orgue.completion }}%;background-color:#5c1c54" aria-valuenow="{{ orgue.completion }}" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
          <div class="my-3">
            <a class="my-3" href="{% url 'orgues:orgue-fiche-conseils' %}"><i class="fa fa-question-circle"></i> Quelques conseils pour bien remplir la fiche d'un orgue</a>
          </div>
        </div>
        <div class="col-lg-9">
          {% if orgue.commentaire_admin %}
            <div class="alert alert-info">
              <b>Commentaire rédacteurs :</b> {{ orgue.commentaire_admin|safe }}
            </div>
          {% endif %}
          <div class="card box-shadow">
            <div class="card-body">
              <p class="text-right">
                <a href="{% block help-link %}#{% endblock %}" target="_blank"> <i class="fa fa-info-circle"></i> Aide</a>
              </p>

              {% block card-body %}
                {% if form.errors %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}
                <form action="" method="post" id="mainform" enctype="multipart/form-data">{% csrf_token %}
                  {% for field in form %}
                    {% include 'stack_field.html' %}
                  {% endfor %}
                  <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary" id="create">Enregistrer</button>
                  </div>
                </form>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}


{% block js_extra %}

  <script src="{% static 'plugins/trumbowyg/trumbowyg.min.js' %}"></script>
  <script src="{% static 'plugins/trumbowyg/langs/fr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery.are-you-sure.js' %}"></script>



  <script>
    var facteurid = "#id_facteurs"
  </script>
  {% include 'orgues/facteur_create_modal.html' %}
  <script>
    $('textarea').trumbowyg({
      removeformatPasted:true,
      btns: [['strong', 'em',], ['link'], ['unorderedList'], ['horizontalRule'],],
      autogrow: true,
      lang: 'fr'
    }).on('tbwchange', function () {
      $('form').trigger('rescan.areYouSure');
    });
    $("select").select2().on("select2:selecting", function () {
      $('form').trigger('rescan.areYouSure');
    })
    $('form').areYouSure();

    $(document).ready(function () {
      window.scroll(0, $('#mainsection').offset().top)
    });
  </script>


  {% block js_extra_2 %}

  {% endblock %}
{% endblock %}
