{% extends 'base.html' %}
{% load static %}
{% load fabtags %}


{% block content %}
  {% include 'orgues/orgue_header.html' %}

  <div class="album p-5 bg-light" id="edition">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <div class="list-group">
            <a class="list-group-item" href="{% url 'orgues:orgue-detail' orgue.slug %}">
              <i class="fa fa-arrow-left"></i> Retour</a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block information_active %}{% endblock %}" href="{% url 'orgues:orgue-update' orgue.uuid %}">
              Informations générales
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block geographie_active %}{% endblock %}" href="{% url 'orgues:orgue-update-geographie' orgue.uuid %}">
              Géographie
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block evenement_active %}{% endblock %}" href="{% url 'orgues:evenement-list' orgue.uuid %}">
              Historique
              <span class="badge badge-light badge-pill">{{ orgue.evenements.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block tuyauterie_active %}{% endblock %}" href="{% url 'orgues:orgue-update-tuyauterie' orgue.uuid %}">
              Tuyauterie
              <span class="badge badge-light badge-pill">{{ orgue.claviers.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block image_active %}{% endblock %}" href="{% url 'orgues:image-list' orgue.uuid %}">
              Images
              <span class="badge badge-light badge-pill">{{ orgue.images.count }}</span>
            </a>
            <a class="list-group-item d-flex justify-content-between align-items-center
              {% block fichier_active %}{% endblock %}" href="{% url 'orgues:fichier-list' orgue.uuid %}">
              Fichiers
              <span class="badge badge-light badge-pill">{{ orgue.fichiers.count }}</span>
            </a>
          </div>
          <div class="my-3">
            <small class="text-muted">Avancement : {{ orgue.completion }}%</small>
            <div class="progress" style="height:5px">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{ orgue.completion }}%;" aria-valuenow="{{ orgue.completion }}" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-10">
          {% if orgue.commentaire_admin %}
            <div class="alert alert-info">
              <b>Commentaire admin :</b> {{ orgue.commentaire_admin|linebreaksbr }}
            </div>

          {% endif %}
          <div class="card box-shadow">
            <div class="card-body">
              {% block card-body %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block js_extra %}

{% endblock %}
