{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
  <link rel="stylesheet" href="{% static 'js/leafletcluster/MarkerCluster.Default.css' %}">
{% endblock %}

{% block content %}
  <section class="sectionheader" style="height:110px;position:relative;">
    <h2 class="text-center text-white" style="z-index:5;position:absolute;left:50%;top:50%;transform: translate(-50%,-50%)">La carte</h2>
    <div style="background:#183564;position:absolute;top:0;bottom:0;left:0;right:0;z-index:3;opacity:0.5;"></div>
    <div style="background:url('{% static 'img/papyrus.png' %}');z-index:2;filter: grayscale(100%);position:absolute;top:0;bottom:0;left:0;right:0;"></div>
  </section>
  <div class="album">
    <div class="container">
      <div id="mapid" style="height:650px"></div>
    </div>
  </div>
{% endblock %}

{% block js_extra %}
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""></script>
  <script src="{% static 'js/leafletcluster/leaflet.markercluster.js' %}"></script>
  <script>
    var carte_orgues = L.map('mapid',
        {
          scrollWheelZoom: false,
        }).setView([46.2, 2.2], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(carte_orgues);

    var markersCluster = new L.MarkerClusterGroup();

    $.getJSON("{% url 'orgues:orgue-list-js' %}", function (orgues) {

      for (var i = 0; i < orgues.length; i++) {


        var popup = '<h6>' + orgues[i].edifice + '</h6><p class="text-center"><a class="btn btn-outline-primary btn-xs" href="/detail/'+orgues[i].slug+'">Voir l\'orgue</a></p>';


        var latLng = new L.LatLng(orgues[i].latitude, orgues[i].longitude);
        var marker = new L.Marker(latLng, {title: orgues[i].pk}).bindPopup(popup);
        ;
        markersCluster.addLayer(marker);
      }

      carte_orgues.addLayer(markersCluster);


    });
  </script>

{% endblock %}
