{% extends extends_template %}
{% load static %}

{% block head_extra %}
  {% if not iframe %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
  {% endif %}
  <style>
      .irs--round .irs-bar {
          background-color: #5c1c54;
      }

      .irs--round .irs-handle {
          border-color: #5c1c54;
      }

      .irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
          background-color: #5c1c54;
      }

      .irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
          border-top-color: #5c1c54;
      }

      .mapboxgl-popup {
          z-index: 10000;
      }

      #filtercard {
          width: 300px;
          z-index: 1000;
          border-radius: 25px;
          margin: 30px;
          background: rgba(255, 255, 255, 0.95);
          position: absolute;
          left: 30px;
          top: 30px;
      }

      #filtercard .card-body {
          border-radius: 25px;
      }

      {% if iframe %}
          #filtercard {
              display: none !important;
          }

          #carteorgues_container {
              height: 100vh;
              width: 100vw;
          }
      {% else %}
          #carteorgues_container {
              height: 80vh;
              width: 100vw;
          }
      {% endif %}

      #carteorgues.loading::before {
          content: "Chargement des données...";
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5em;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.7);
          z-index: 1000;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="position-relative " id="carteorgues_container">
    <div id="carteorgues" class="w-100 h-100 loading"></div>
    <div class="card d-none d-md-block" id="filtercard">
      <div class="card-body">
        <form id="searchform" action="" class="m-b-10" method="post">{% csrf_token %}
          <div class="form-group">
            <label for="">Commune</label>
            <select name="" id="id_commune" class="form-control">
            </select>
          </div>
          {% for field in form %}
            {% include 'stack_field.html' %}
          {% endfor %}
        </form>
        {% if request.user.is_authenticated %}
          <hr>
          <div class="text-center">
            <a href="" class="mr-3 text-primary text-decoration-none"><i class="fa fa-times-circle"></i> Réinitialiser</a>
            <a class="text-primary" data-toggle="modal" href="#sharemodal">
              <i class="fa fa-share-alt"></i> Intégrer</a>
          </div>
        {% endif %}
        <div class="modal fade" id="sharemodal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-label">Intégrer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <p>
                      Pour intégrer cette carte à votre site, copiez coller le code ci-dessous. <br>
                      Le niveau de zoom et la position de la carte actuelle seront conservés.
                    </p>
                    <textarea class="form-control" id="iframe"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-b" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="popupmodal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content"  id="popupmodal_content">

      </div>
    </div>
  </div>

{% endblock %}
{% block footer %}

{% endblock %}

{% block js_extra %}

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>

  <script>
    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN}}';
    let initial_zoom = 4.8;
    let initial_lat = 46.2;
    let initial_lng = 2.2;
    {% if request.GET.zoom %}
      initial_zoom = {{ request.GET.zoom }};
    {% endif %}
    {% if request.GET.lat %}
      initial_lat = {{ request.GET.lat }};
    {% endif %}
    {% if request.GET.lng %}
      initial_lng = {{ request.GET.lng }};
    {% endif %}

    var map = new mapboxgl.Map({
      'container': 'carteorgues',
      style: 'mapbox://styles/mapbox/' + "light-v10",
      center: [initial_lng, initial_lat],
      zoom: initial_zoom
    });

    // disable map zoom when using scroll and add zoom control
    map.addControl(new mapboxgl.NavigationControl());
    let RegionsCentresGeoJson = {"type": "FeatureCollection", "features": []};
    let RegionsGeoJson = {"type": "FeatureCollection", "features": []};
    let DepartementsCentresGeoJson = {"type": "FeatureCollection", "features": []};
    let DepartementsGeoJson = {"type": "FeatureCollection", "features": []};
    let OrguesGeoJson = {"type": "FeatureCollection", "features": []};


    var GetBiggestPolygon = function (polygons) {
      let coordinates = polygons[0]
      if (polygons.length !== 1) {
        for (let polygon of polygons) {
          if (polygon[0].length > coordinates.length) {
            coordinates = polygon[0]
          }
        }
      }
      return coordinates
    }

    $.getJSON('{% static 'geojson/regions_centres.json' %}', function (data) {
      RegionsCentresGeoJson = data;
    })
    $.getJSON('{% static 'geojson/regions.json' %}', function (data) {
      RegionsGeoJson = data;
    })
    $.getJSON('{% static 'geojson/departements_centres.json' %}', function (data) {
      DepartementsCentresGeoJson = data;
    })

    $.getJSON('{% static 'geojson/departements.json' %}', function (data) {
      DepartementsGeoJson = data;
    })


    const zoomThresholdFirstLayer = 5.7;
    const zoomThresholdSecondLayer = 8;


    map.on('load', () => {
      map.addSource('regionscentres', {type: 'geojson', data: RegionsCentresGeoJson});
      map.addSource('regions', {type: 'geojson', data: RegionsGeoJson});
      map.addSource('departementscentres', {type: 'geojson', data: DepartementsCentresGeoJson});
      map.addSource('departements', {type: 'geojson', data: DepartementsGeoJson});
      map.addSource('orgues', {type: 'geojson', data: OrguesGeoJson});

      SearchData();

      // Add a new layer to visualize the polygon.
      map.addLayer({
        'id': 'regions',
        'type': 'fill',
        'source': 'regions', // reference the data source
        'paint': {
          'fill-color': '#627BC1 ',
          'fill-opacity': [
            "case",
            ["boolean", ["feature-state", "hover"], false],
            1, 0
          ],
        }
      });
      map.addLayer({
        'id': 'outline',
        'type': 'line',
        'source': 'regions',
        'layout': {},
        'paint': {
          'line-color': 'rgba(85,32,82,0.67)',
          'line-width': 1
        }
      });
      map.addLayer({
        'id': 'departements',
        'type': 'fill',
        'minzoom': zoomThresholdFirstLayer,
        'source': 'departements',
        'paint': {
          'fill-color': '#627BC1 ',
          'fill-opacity': [
            "case",
            ["boolean", ["feature-state", "hover"], false],
            1, 0
          ],
        }
      });
      map.addLayer({
        'id': 'departement-outline',
        'type': 'line',
        'source': 'departements',
        'minzoom': zoomThresholdFirstLayer,
        'layout': {},
        'paint': {
          'line-color': 'rgba(85,32,82,0.67)',
          'line-width': 1.5
        }
      });
      map.loadImage('{% static 'img/marker2.png' %}', function (error, image) {
        if (error) throw error;
        map.addImage('marker-orgue', image, {sdf: true});
        map.addLayer({
          'id': 'orgues',
          'type': 'symbol',
          'source': 'orgues',
          'minzoom': zoomThresholdSecondLayer,
          'layout': {
            'icon-image': 'marker-orgue',
            'icon-size': 0.35,
            'icon-allow-overlap': true,
            'text-anchor': "bottom",
          },
          'paint': {
            'icon-opacity': 0.7,
            'icon-color': [
              "case",
              ["boolean", ["get", "monument_historique"], true],
              "rgba(254,135,63,0.9)", "#5c1c54"
            ]
          }
        });
      });


      map.addLayer({
        'id': 'centerregion',
        'maxzoom': zoomThresholdFirstLayer,
        'type': 'circle',
        'source': 'regionscentres',
        'paint': {
          'circle-color': 'rgba(85,32,82,0.67)',
          'circle-radius': ["interpolate", ['linear'],
            ["get", "nb_orgues"],
            100, 15,
            2500, 25,
          ]
        }
      })
      ;
      map.addLayer({
        'id': 'points',
        'type': 'symbol',
        'maxzoom': zoomThresholdFirstLayer,
        'source': 'regionscentres',
        paint: {
          "text-color": "#ffffff"
        },
        'layout': {
          // get the title name from the source's "title" property
          'text-field': ["get", "nb_orgues"],
          'text-font': [
            'Open Sans Semibold',
            'Arial Unicode MS Bold'
          ],
          'text-size': 13,
        }
      });
      map.addLayer({
        'id': 'departementscentres',
        'minzoom': zoomThresholdFirstLayer,
        'maxzoom': zoomThresholdSecondLayer,
        'type': 'circle',
        'source': 'departementscentres',
        'paint': {
          'circle-color': 'rgba(85,32,82,0.67)',
          'circle-radius': ["interpolate", ['linear'],
            ["get", "nb_orgues"],
            0, 15,
            500, 25,
          ]
        }
      })
      ;
      map.addLayer({
        'id': 'departement-points',
        'type': 'symbol',
        'minzoom': zoomThresholdFirstLayer,
        'maxzoom': zoomThresholdSecondLayer,

        'source': 'departementscentres',
        paint: {
          "text-color": "#ffffff"
        },
        'layout': {
          // get the title name from the source's "title" property
          'text-field': ["get", "nb_orgues"],
          'text-font': [
            'Open Sans Semibold',
            'Arial Unicode MS Bold'
          ],
          'text-size': 13,
        }
      });


    });
    const popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
    });
    const popup_orgue = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: true
    });

    var zoom_region = function (e) {
      if (map.getZoom() < zoomThresholdSecondLayer) {
        source_area = e.features[0].source
        hoveredStateId = e.features[0].id;
        map.setFeatureState(
            {source: source_area, id: hoveredStateId},
            {hover: false}
        );
        const polygons = e.features[0].geometry.coordinates
        const coordinates = GetBiggestPolygon(polygons)
        const bounds = new mapboxgl.LngLatBounds(
            coordinates[0],
            coordinates[0]
        );
        // Extend the 'LngLatBounds' to include every coordinate in the bounds result.
        for (const coord of coordinates) {
          bounds.extend(coord);
        }
        map.fitBounds(bounds, {
          padding: 20
        });
      }
    }
    // On génère la popup pour un orgue uniquement après un clic
    var generer_popup = function (e) {
      const coordinates = e.features[0].geometry.coordinates.slice();
      $.ajax({
        type: 'GET',
        url: '{% url 'orgues:orgue-carte-popup' %}',
        data: {"orgue_id": e.features[0]["id"]},
        success: function (data) {
          popup.remove()
          $("#popupmodal_content").html(data["message"])
          $("#popupmodal").modal("show")
        }
      })
    }
    {% if user.is_authenticated %}
      var update_iframe_code = function () {
        let current_zoom = Math.round(map.getZoom() * 100) / 100;
        let current_latitude = Math.round(map.getCenter().lat * 1000000) / 1000000;
        let current_longitude = Math.round(map.getCenter().lng * 1000000) / 1000000;
        window.history.pushState('', '', `?zoom=${current_zoom}&lng=${current_longitude}&lat=${current_latitude}`);
        $("#iframe").val(`<iframe width="500" height="500" src="{{ FULL_SITE_URL }}{% url 'orgues:orgue-carte' %}?iframe=true&zoom=${current_zoom}&lng=${current_longitude}&lat=${current_latitude}"></iframe>`);
      }
      map.on('zoomend', update_iframe_code);
      map.on('move', update_iframe_code);
      update_iframe_code();
    {% endif %}


    map.on('click', 'regions', zoom_region);
    map.on('click', 'departements', zoom_region);
    map.on('click', 'orgues', generer_popup);
    map.on('mouseenter', (e) => {
      const features = map.queryRenderedFeatures(e.point);
      if (features.length > 0) {
        map.getCanvas().style.cursor = 'pointer';
        source_area = 'departements'
        hoveredStateId = features[0].id;
        map.setFeatureState(
            {source: source_area, id: hoveredStateId},
            {hover: true}
        );
      }
    })
    previousHoveredId = null
    previousHoveredSource = null
    map.on('mousemove', (e) => {
      const features = map.queryRenderedFeatures(e.point);
      popup.remove()
      if (features.length > 0) {
        if (['regions', 'departements', "orgues", "regionscentres", 'departementscentres'].includes(features[0].source)) {
          coordinates = [e.lngLat.lng, e.lngLat.lat]
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }
          let HtmlPopUp = `${features[0].properties.nom}`
          if ((map.getZoom() < zoomThresholdSecondLayer) | (features[0].source === "orgues")) {
            popup.setLngLat(coordinates).setHTML(HtmlPopUp).addTo(map);
          }
        }
      }
    })


    // FILTER FORM
    var SearchData = function () {
      $("#carteorgues").addClass("loading");
      $.ajax({
        type: 'POST',
        url: '',
        data: $('#searchform').serialize(),
        async: false,
        success: function (data) {
          OrguesGeojson = data["orgues_geojson"]
          // mise à jour des totaux par région et département
          for (let region in RegionsCentresGeoJson.features) {
            RegionsCentresGeoJson.features[region].properties.nb_orgues = data["totaux_regions"][RegionsCentresGeoJson.features[region].properties.nom]
          }
          for (let region in DepartementsCentresGeoJson.features) {
            DepartementsCentresGeoJson.features[region].properties.nb_orgues = data["totaux_departements"][DepartementsCentresGeoJson.features[region].properties.nom]
          }
          map.getSource("orgues").setData(OrguesGeojson)
          map.getSource("regionscentres").setData(RegionsCentresGeoJson)
          map.getSource('departementscentres').setData(DepartementsCentresGeoJson)
          map.getSource('regions').setData(RegionsGeoJson)
          map.getSource('departements').setData(DepartementsGeoJson)
          $("#carteorgues").removeClass("loading");
        }
      })
    }
  </script>

  {% if not iframe %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

    <script>
      $("#id_etats").select2({
        placeholder: 'Choisir',
      });

      $("#id_etats,#id_facteurs,#id_monument").change(function () {
        SearchData()
      })

      $("#id_jeux").ionRangeSlider({
        type: "double",
        min: {{ form.MIN_JEUX }},
        max: {{ form.MAX_JEUX }},
        grid: true,
        skin: "round",
        onFinish: function (data) {
          SearchData()
        }
      });

      $("#id_commune").select2({
        language: "fr",
        allowClear: true,
        minimumInputLength: 3,
        placeholder: 'Chercher une commune',
        ajax: {
          delay: 250,
          url: 'https://api-adresse.data.gouv.fr/search/',
          data: function (params) {
            return {
              q: params.term,
              type: 'municipality'
            }
          },
          processResults: function (data) {
            var items = data.features.map(function (result) {
              return {
                "id": result.geometry.coordinates.join(","),
                "text": result.properties.city + " (" + result.properties.context + ")"
              }
            })
            return {results: items}
          },
        },
      }).on("select2:select", function (e) {
        var coordinates = e.params.data.id.split(",");
        map.flyTo({
          center: coordinates,
          zoom: 12
        });
      });

      $("#id_facteurs").select2({
        placeholder: 'Choisir',
        ajax: {
          url: '{% url 'orgues:facteur-list-js' %}',
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1,
              tous_facteurs: false
            }
            return query;
          }
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        language: {
          noResults: function () {
            return "Aucun facteur trouvé ... contactez-nous en cas de doute.";
          }
        },
        width: '100%'
      });
    </script>
  {% endif %}

{% endblock %}
