{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block tuyauterie_active %}active{% endblock %}

{% block card-body %}
  <h5 class="card-title">
    Clavier
  </h5>
  <form method="post"> {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {% include 'stack_field.html' with field=clavier_form.type %}
      </div>
      <div class="col-md-6">
        {% include 'stack_field.html' with field=clavier_form.facteur %}
      </div>
      <div class="col-md-6">
        {% include 'stack_field.html' with field=clavier_form.etendue %}
      </div>
      <div class="col-md-6">
        <br>
        {% include 'stack_field.html' with field=clavier_form.is_expressif %}
      </div>
    </div>
    <h5 class="card-title">
      Jeux
    </h5>
    {{ jeux_formset.management_form }}
    {% for form in jeux_formset %}
      <div class="row">
        {{ form.id }}
        <div class="{% if form.DELETE %}col-3{% else %}col-4{% endif %}">
          {% include 'stack_field.html' with field=form.type %}
        </div>
        <div class="{% if form.DELETE %}col-2{% else %}col-4{% endif %}">
          {% include 'stack_field.html' with field=form.configuration %}
        </div>
        <div class="{% if form.DELETE %}col-4{% else %}col-4{% endif %}">
          {% include 'stack_field.html' with field=form.commentaire %}
        </div>
        {% if form.DELETE %}
          <div class="col-3">
            {% include 'stack_field.html' with field=form.DELETE %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    <div class="form-group text-right">
      <a href="{% url 'orgues:orgue-update-composition' orgue.uuid %}" class="btn btn-outline-secondary">Annuler</a>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
  </form>




{% endblock %}


{% block js_extra %}
  {% include 'orgues/facteur_create_modal.html' %}
  {% include 'orgues/typejeu_create_modal.html' %}

{% endblock %}

