<div class="clavier">
  <div class="card">
    <div class="card-header p-3 bg-light">
      <h4 class="my-0">{{ clavier.type }} {% if clavier.is_expressif %}expressif {% endif %}</h4>
      <p class="card-text font-weight-bold" style="font-size:0.9em;">
        {% if clavier.etendue %}
          Etendue : {{ clavier.etendue }}
        {% endif %}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      {% for jeu in clavier.jeux.all %}
        <li class="list-group-item"
        {% if jeu.commentaire %}data-toggle="tooltip" title="{{ jeu.commentaire }}" data-placement="right"{% endif %}
        >{{ jeu }}  {% if jeu.commentaire %}<i class="fa fa-info-circle text-muted"></i> {% endif %}</li>
      {% endfor %}
    </ul>
    {% if editable %}
      <div class="card-footer bg-transparent">
        <a href="{% url 'orgues:clavier-update' clavier.pk %}" class="btn btn-xs btn-outline editer_clavier">Modifier</a>
        <a href="{% url 'orgues:clavier-delete' clavier.pk %}" class="btn btn-xs btn-outline btn-danger supprimer_clavier">Supprimer</a>
      </div>
    {% endif %}
  </div>
</div>
