{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block tuyauterie_active %}active{% endblock %}

{% block card-body %}
  <h5 class="card-title">Suppression clavier</h5>
  <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
      Etes-vous sûre de vouloir supprimer le clavier <b>"{{ object.type }}"</b> ?
    </p>
    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <a href="{% url 'orgues:orgue-update-tuyauterie' orgue.uuid %}" class="btn btn-outline-secondary">Annuler</a>
        <button type="submit" class="btn btn-danger">Oui</button>
      </div>
    </form>
  </form>

{% endblock %}




