{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <section id="conseils-fiche" style="min-height: 500px">
      <h3>Compléter la fiche d'un orgue</h3>
      <p>Nous vous invitons tout d'abord à parcourir la <a href="https://docs.inventaire-des-orgues.fr/fiche-orgue/" target="_blank" rel="noopener noreferrer">documentation</a>.</p>
      <div class="accordion toggle fancy radius clean">
        <div class="ac-item ac-active">
          <h5 class="ac-title"><i class="fa fa-question-circle"></i>Quelques conseils pour choisir l'image principale d'un orgue.</h5>
          <div class="ac-content" style="display: block;">
            <div class="card shadow-none">
              <div class="row mb-4">
                <div class="col-md-8">
                  <img class="card-img-top" src="{% static 'img/tutoriels/explication_image_principale.jpg' %}" alt="">
                </div>
              </div>
              <div class="row no-gutters">

                <div class="col-md-2">
                  <img class="card-img-top" src="{% static 'img/tutoriels/1.png' %}" alt="">
                </div>
                <div class="col-md-8">
                  <h5 class="card-body py-md-3">Photo au format paysage</h5>
                </div>
              </div>
            </div>
            <div class="card shadow-none">
              <div class="row no-gutters">
                <div class="col-md-2" style="background: #868e96;">
                  <img class="card-img-top" src="{% static 'img/tutoriels/2.png' %}" alt="">
                </div>
                <div class="col-md-8">
                  <h5 class="card-body py-md-3">Eviter le format portrait</h5>
                </div>
              </div>
            </div>
            <div class="card shadow-none">
              <div class="row no-gutters">
                <div class="col-md-2" style="background: #868e96;">
                  <img class="card-img-top" src="{% static 'img/tutoriels/3.png' %}" alt="">
                </div>
                <div class="col-md-8">
                  <h5 class="card-body py-md-3">L'orgue ne doit pas être coupé, en gros plan</h5>
                </div>
              </div>
            </div>
            <div class="card shadow-none">
              <div class="row no-gutters">
                <div class="col-md-2" style="background: #868e96;">
                  <img class="card-img-top" src="{% static 'img/tutoriels/4.png' %}" alt="">
                </div>
                <div class="col-md-8">
                  <h5 class="card-body py-md-3">Pas de photo artistique penchée</h5>
                </div>
              </div>
            </div>
            <div class="card shadow-none">
              <div class="row no-gutters">
                <div class="col-md-2" style="background: #868e96;">
                  <img class="card-img-top" src="{% static 'img/tutoriels/5.png' %}" alt="">
                </div>
                <div class="col-md-8">
                  <h5 class="card-body py-md-3">Pas de photos floues ou de mauvaise qualité</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
