{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block evenement_active %}active{% endblock %}


{% block help-link %}https://docs.inventaire-des-orgues.fr/fiche-orgue/#historique{% endblock %}


{% block js_extra_2 %}
    {% include 'orgues/facteur_create_modal.html' %}
    {% include 'orgues/provenance_create_modal.html' %}
  <script>
  $('#id_resume').trumbowyg('destroy');


  $(document).ready(function(){
      changeProvenanceState();
  });

  $("#id_type").change(function () {
      changeProvenanceState();
  });

  var changeProvenanceState = function () {
      if ($("#id_type").find(":selected").text() == "Déplacement") {
          $("#id_provenance").parent().show();
      }
      else{      
          $("#id_provenance").parent().hide();
      }
  }

  $("#select2-id_provenance-container").on("click", function(e) {
    $('#id_provenance').select2('close');
    $("#nouvelleProvenanceModal").modal('show');
  })

    $("#id_manufactures").select2({
      placeholder: 'Choisir une manufacture',
      ajax: {
        url: '{% url 'orgues:manufacture-list-js' %}',
        data: function (params) {
          var query = {
            search: params.term,
            page: params.page || 1,
          }
          return query;
        }
      },
      escapeMarkup: function (markup) {
        return markup;
      },
      language: {
        
          noResults: function () {
            return "Aucune manufacture trouvée ... contactez-nous en cas de doute.";
          }
      },
      width: '100%'
    });
  })

  </script>
{% endblock %}
