{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block fichier_active %}active{% endblock %}

{% block help-link %}https://docs.inventaire-des-orgues.fr/fiche-orgue/#fichiers{% endblock %}


{% block card-body %}
  <h5 class="card-title mb-4">
    Fichiers
  </h5>
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ field.label }} : {{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}

  <table class="table table-bordered">
    <tbody>
    {% for fichier in object_list %}
      <tr>
        <td width="90%"><a href="{{ fichier.file.url }}">{{ fichier.description }}</a></td>
        <td width="10%">
          <form action="{% url 'orgues:fichier-delete' fichier.pk %}" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-outline btn-danger btn-xs">Supprimer</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">Aucun fichier</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p class="text-right">
    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-plus"></i> Ajouter un fichier
    </button>
  </p>


{% endblock %}



{% block modal %}
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouveau fichier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'orgues:fichier-create' orgue.uuid %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
          <div class="modal-body">
            {% for field in form %}
              {% include 'stack_field.html'  with with_helptext='true' %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary" id="savefile">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}



{% block js_extra_2 %}
  <script type="text/javascript">
    $('#id_file').bind('change', function () {
      if ( this.files[0].size / 1024 / 1024 > 10 ) {
        $("#savefile").hide();
        $('#id_file').val("");
        alert("Votre fichier est trop lourd, veuillez ne pas dépasser 10 Mo")
      } else {
        $("#savefile").show();
      }
    });
  </script>
{% endblock %}

