{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block image_active %}active{% endblock %}

{% block help-link %}https://docs.inventaire-des-orgues.fr/fiche-orgue/#images{% endblock %}

{% block head_extra %}

  <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet"/>
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

{% endblock %}


{% block card-body %}
  <div class="form-group">
    <label for="">Précisez l'auteur des photos avant de commencer le chargement</label>
    <input type="text" class="form-control" id="id_credit">
    <a class="nav-link" href="javascript:;" id="use-user-credit">Utiliser mon nom : {{ user }}</a>
  </div>
  <input type="file" id="filepond" class="d-none">
  <p class="text-right">
    <a href="{% url 'orgues:image-list' orgue.uuid %}" id="return-button" class="btn btn-sm btn-primary">Retour</a>
  </p>
{% endblock %}


{% block js_extra_2 %}

  <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>

  <script>
    $("#use-user-credit").click(function() {
      $("#id_credit").val("{{ user }}").trigger( "change" )
    })
    $("#id_credit").change(function () {
      if ($(this).val().length > 1) {
        $("#filepond").removeClass("d-none")
      } else {
        $("#filepond").addClass("d-none")
      }
    })
    const inputElement = document.querySelector('input[type="file"]');
    FilePond.registerPlugin(FilePondPluginImageResize);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    FilePond.registerPlugin(FilePondPluginImageTransform);
    FilePond.registerPlugin(FilePondPluginImagePreview);

    const pond = FilePond.create(inputElement, {
      acceptedFileTypes: ['image/*'],
      labelFileTypeNotAllowed: 'Type de fichier invalide',
      allowMultiple: true,
      allowRevert: false,
      allowImageResize: true,
      imageResizeTargetWidth: {{MAX_PIXEL_WIDTH}},
      imageResizeUpscale: false,
      imageResizeMode: 'contain',
      labelTapToCancel: 'Cliquez pour annuler',
      labelIdle: 'Cliquez ou déposez vos images ici',
      labelFileProcessing: 'Chargement',
      labelFileProcessingComplete: 'Chargement terminé',
      credits: null,
      server: {
        process: {
          url: '{% url 'orgues:image-create' orgue.uuid %}',
          ondata: function (formData) {
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append('credit', $("#id_credit").val());
            return formData;
          }
        }
      }
    });
    pond.on('processfiles', () => {
       $("#return-button").show()
      });
    pond.on('addfilestart', (file) => {
        $("#return-button").hide();
      });
  </script>


{% endblock %}

