{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block head_extra %}
  <link href="{% static 'plugins/cropper/cropper.min.css' %}" rel="stylesheet">
{% endblock %}

{% block card-body %}
  <h4>Vignette actuelle</h4>
  {% if image.thumbnail_principale %}
  <img src="{{ image.thumbnail_principale.url }}" alt="" style="width:400px;">
  {% elif image.thumbnail %}
  <img src="{{ image.thumbnail.url }}" alt="" style="width:400px;">
  {% endif %}
  <h4 class="mt-3">Redéfinir la vignette</h4>
  <div>
    <img id="image" src="{{ image.image.url }}" style="max-width: 100%;">
  </div>
  <div class="mt-4 text-right">
    <button type="submit" class="btn btn-primary" id="save-crop">Enregistrer</button>
  </div>
{% endblock %}}

{% block js_extra %}
  <script src="{% static 'plugins/cropper/cropper.min.js' %}"></script>
  <script src="{% static 'plugins/cropper/jquery-cropper.min.js' %}"></script>

  <script>
    var $image = $('#image');

    $image.cropper({
      dragMode: 'move',
      aspectRatio: 4 / 3,
      zoomable: false,
      movable: false,
    });

    // Get the Cropper.js instance after initialized
    var cropper = $image.data('cropper');

    $("#save-crop").on('click', function (event) {
      cropper.getCroppedCanvas({width: 400, height: 300}).toBlob((blob) => {
        const formData = new FormData();
        formData.append('thumbnail_principale', blob, 'vignette.jpg');
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax("{% url 'orgues:image-principale' image.pk %}", {
          method: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success() {
            location.reload()
          },
          error() {
            toastr.success("Oups, il y a eu une erreur");
          },
        });
      });
    })
  </script>
{% endblock %}