{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block image_active %}active{% endblock %}



{% block help-link %}https://docs.inventaire-des-orgues.fr/fiche-orgue/#images{% endblock %}



{% block card-body %}

  <div class="row">
    <div class="col">
      <p>
        <i class="fa fa-info-circle"></i>
        Merci de bien vous conformer à la charte et de lire la documentation.
        Notamment : pas de visage, mention de l'auteur, images impérativement libres de droits d'exploitation (données ouvertes).
      </p>
    </div>
  </div>

  <div class="row">
    {% with image=orgue.image_principale %}
      {% if image %}
        <div class="col-lg-4 image">
          <div class="card">
            <div class="portfolio-item img-zoom pb-0">
              <div class="portfolio-item-wrap border-radius-top-5 ">
                <div class="portfolio-image">
                  <a href="#"><img src="{{ orgue.vignette }}" alt=""></a>
                </div>
                <div class="portfolio-description p-0">
                  <a href="{% url 'orgues:image-update' image.pk %}">
                    <i class="icon icon-edit"></i>
                  </a>
                  <a href="{% url 'orgues:image-principale' image.pk %}">
                    <i class="icon icon-crop"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body py-2 px-3">
              <i class="fa fa-star fa-2x text-warning" style="position:absolute;z-index:100;top:10px;right:10px;"></i>
              <small>
                Vignette principale
              </small>
            </div>
            <div class="card-footer text-muted">
              <a href="{% url 'orgues:image-principale' image.pk %}" class="btn btn-primary btn-block">
                <i class="fa fa-crop"></i> Recadrer l'image
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div class="col">
      <p>
        Cliquer sur <i class="icon icon-edit"></i> pour modifier le crédit ou la légende d'une image<br>
        Cliquer sur <i class="icon icon-star"></i> pour définir une image comme vignette principale <br>
        Cliquer sur <i class="icon icon-crop"></i> pour recadrer la vignette principale <br>
        Cliquer sur <i class="icon icon-trash"></i> pour supprimer une image <br>
        Cliquer sur <i class="icon icon-move"></i> pour déplacer les images et les réordonner
      </p>
    </div>
  </div>
  <p>
    <a href="{% url 'orgues:image-create' orgue.uuid %}" class="btn btn-sm btn-primary">
      <i class="fa fa-plus"></i> Ajouter des images</a>
  </p>
  <div class="row" id="image_list">
    {% for image in object_list %}
      <div class="col-lg-4 image" data-imagepk="{{ image.pk }}">
        <div class="card">
          <div class="portfolio-item img-zoom pb-0">
            <div class="portfolio-item-wrap border-radius-top-5 ">
              <div class="portfolio-image">
                <a href="#"><img src="{{ image.thumbnail.url }}" alt=""></a>
              </div>
              <div class="portfolio-description p-0">
                <a href="{% url 'orgues:image-update' image.pk %}">
                  <i class="icon icon-edit"></i>
                </a>
                {% if image.is_principale %}
                  <a href="{% url 'orgues:image-principale' image.pk %}">
                    <i class="icon icon-crop"></i>
                  </a>
                {% else %}
                  <a href="{% url 'orgues:image-principale' image.pk %}">
                    <i class="icon icon-star"></i>
                  </a>
                {% endif %}
                <a href="{% url 'orgues:image-delete' image.pk %}">
                  <i class="icon icon-trash-2"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card-body py-2 px-3">
            {% if image.is_principale %}
              <i class="fa fa-star fa-2x text-warning" style="position:absolute;z-index:100;top:10px;right:10px;"></i>
            {% endif %}
            <small>
              {% if image.legende %}{{ image.legende|truncatechars:30 }} {% else %}Pas de légende {% endif %}<br>
              Crédit : {{ image.credit|default_if_none:"?" }} <br>
            </small>
            <i class="icon-move" style="position:absolute;z-index:100;bottom:10px;right:10px;"></i>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}


{% block js_extra_2 %}

  <script src="{% static 'plugins/sortable/sortable.min.js' %}"></script>
  <script>
    $(function () {
      Sortable.create(image_list, {
        handle: '.card-body',
        ghostClass: "sortable-ghost",  // Class name for the drop placeholder
        chosenClass: "sortable-chosen",  // Class name for the chosen item
        dragClass: "sortable-drag",  // Class name for the dragging item
        onSort: function () {
          var image_pks = $('#image_list .image').map(function () {
            return $(this).data('imagepk');
          }).get();
          $.ajax({
            method: "post",
            url: "",
            data: {image_pks: image_pks, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (res) {
              toastr.success('Nouvel ordre des images enregistré')
            }
          })
        },
      });
    })
  </script>


{% endblock %}

