{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block composition_active %}active{% endblock %}

{% block help-link %}https://docs.inventaire-des-orgues.fr/fiche-orgue/#composition{% endblock %}



{% block card-body %}

  <b>Résumé :</b> {{ form.instance.resume_composition|default_if_none:"Aucun plan sonores" }}

  {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endif %}
  <form action="" method="post" id="mainform" enctype="multipart/form-data">{% csrf_token %}
    <div class="carousel mb-5" data-drag="true" data-autoplay="true" data-items-lg="4" data-items-md="2" data-items-sm="1" data-loop="false">
      {% for clavier in orgue.claviers.all %}
        {% include 'orgues/clavier_detail.html' with editable='true' %}
      {% endfor %}
    </div>
    <p class="text-right">
      <button type="submit" name="next" value="{% url 'orgues:clavier-create' orgue.uuid %}" class="btn btn-primary">
       <i class="fa fa-plus"></i> Ajouter un plan sonore
      </button>
    </p>
    <hr>
    {% for field in form %}
      {% include 'stack_field.html' with with_helptext='true' %}
    {% endfor %}
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary" id="create">Enregistrer</button>
    </div>
  </form>

{% endblock %}






