{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <section id="orgue-list">
      <div class="row">
        <div class="col-xl-4 sidebar sticky-sidebar">
          <div class="card ">
            <div class="card-body">
              {% include 'orgues/search_form.html' %}
            </div>
          </div>
          <div class="text-center my-2 d-none d-lg-block">
            <p>
              Quelques conseils pour éditer la photo principale d'une fiche d'orgue
            </p>
            <a href="{% url 'orgues:orgue-fiche-conseils' %}" class="btn btn-primary rounded-pill">voir les
              recommandations <i class="fa fa-chevron-right"></i> </a>
          </div>
        </div>
        <div class="col-xl-8">
          {% for orgue in object_list %}
            <div class="card shadow-sm vignette mb-lg-4 mb-sm-5"
                onclick="window.location = '{% url 'orgues:orgue-detail' orgue.slug %}'">
              <div class="row no-gutters">
                <div class="col-md-4" style="background: #868e96;">
                  <img class="card-img-top" src="{{ orgue.vignette }}" alt="Photo orgue {{ orgue }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body py-md-3">
                    <h4 class="card-title mb-1">{{ orgue.edifice|capfirst }}
                      <span>| {{ orgue.commune }} ({{ orgue.departement }})</span></h4>
                    <p class="my-0 text-muted font-weight-bold">
                      {{ orgue.get_designation_display }} - {{ orgue.resume_clavier }}
                    </p>
                    {% if orgue.facteurs.count %}
                      <p class="my-1">
                        {{ orgue.facteurs.all|join:', ' }}
                      </p>
                    {% endif %}
                    {% if user.is_authenticated %}
                      <p class="my-1 d-none d-md-block" style="position:absolute;bottom:10px;right:20px; color:#5C1C54">
                        Avancement de la fiche : {{ orgue.completion }}%</p>
                    {% endif %}
                  </div>
                  {% if user.is_authenticated %}
                    <div class="card-footer d-md-none" style="color:#5C1C54">Avancement de la fiche
                      : {{ orgue.completion }}%
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

          {% empty %}

            <p class="text-center lead py-50">
              L'orgue que vous recherchez n'est pas répertorié ? <br>
              Si cela est le cas vous pouvez le signaler ici <br>
              <a class="btn btn-primary rounded-pill mt-2" href="{% url 'contact' %}">Faire la demande</a>
            </p>

          {% endfor %}
          {% include 'paginator.html' %}
        </div>
      </div>
    </section>
  </div>
{% endblock %}
{% block js_extra %}

  {% include 'orgues/search_section_script.html' %}


{% endblock %}
