{% extends 'base.html' %}
{% load static %}

{% block content %}

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="my-50 text-center">
            <h2 class="font-w700 text-black">Nouvel orgue</h2>
            <h3 class="h5 text-muted my-50">Commencez par compléter les informations basiques</h3>
          </div>
          <div class="block">
            <div class="block-body">
              {% if form.errors %}
                {% for error in user_form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              {% endif %}
              <form action="" method="post" id="mainform" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form %}
                  {% include 'stack_field.html' with with_helptext='true' %}
                {% endfor %}
                <hr>
                <div class="form-group text-right">
                  <a href="{% url 'orgues:orgue-list' %}" class="btn btn-secondary" id="create">Annuler</a>
                  <button type="submit" class="btn btn-primary" id="create">Enregistrer</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js_extra %}
  <script>
    $(function () {
      $("#id_commune").select2({
        placeholder: 'Choisir une commune',
        ajax: {
          url: '{% url 'orgues:commune-list-js' %}',
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1
            }
            return query;
          },
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        language: {
          noResults: function () {
            return "Aucune commune trouvée ...";
          }
        },

        width: '100%'
      });

      $("#id_designation").select2({
        placeholder: 'Choisir une désignation',
        ajax: {
          url: '{% url 'orgues:designation-list-js' %}',
          data: function (params) {
            var query = {
              search: params.term,
              page: params.page || 1
            }
            return query;
          },
        },
        escapeMarkup: function (markup) {
          return markup;
        },
        language: {
          noResults: function () {
            return "Aucune désignation trouvée ...";
          }
        },

        width: '100%'
      });

    });
  </script>



{% endblock %}
