{% extends 'orgues/base_edition.html' %}
{% load static %}

{% block help-link %}#{% endblock %}



{% block card-body %}

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Critère</th>
      <th>Points</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for critere,resultat in orgue.infos_completions.items %}
      <tr>
        <td>{{ critere }}</td>
        <td>
          {% if resultat.logique %}
            <span class="text-success">{{ resultat.points }}/{{ resultat.points }}</span>
          {% else %}
            <span class="text-warning">0/{{ resultat.points }}</span>
          {% endif %}
        </td>
      <td>
        <a href="{{ resultat.lien }}">lien</a>
      </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}






