{% extends 'base.html' %}
{% load static %}

{% block head_extra %}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
{% endblock %}

{% block content %}

  <section class="py-3 bg-light" id="orgue-detail">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 my-4 text-center text-md-left">
          <h2 class="mb-0">
            {{ orgue.edifice|capfirst }} <br>
          </h2>
          <h4 class="text-muted">
            {{ orgue.commune }} {% if orgue.ancienne_commune %}(anciennement {{ orgue.ancienne_commune }}){% endif %}, {{ orgue.departement }}
            <small>
              | {{ orgue.designation|default_if_none:"Orgue" }}
            </small>
          </h4>
        </div>
        <div class="col-lg-9 order-2 col-md-12 order-lg-1  ">
          <div class="card mb-4 box-shadow">
            {% if object.image_principale %}
              <img class="card-img-top" src="{{ orgue.image_principale.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 order-md-1 py-20">
                  <h2 class="titre-fiche">Composition</h2>
                  <div class="row">
                    {% for clavier in claviers %}
                      {% include 'orgues/clavier_detail.html' %}
                    {% empty %}
                      <div class="col-12">
                        <p class="text-muted">Aucun clavier</p>
                      </div>
                    {% endfor %}
                  </div>
                  <h2 class="titre-fiche">Frise chronologique</h2>
                  {% if evenements.count %}
                    <div id='timeline-embed' style="width: 100%; height: 400px"></div>
                  {% else %}
                    <p class="text-muted">Aucun événement</p>
                  {% endif %}
                  <hr>
                  <h2 class="titre-fiche">Description</h2>
                  <div id="resume"></div>
                  <p class="soustitre-fiche">Buffet</p>
                  {% if orgue.buffet %}
                    <div id="buffet">{{ orgue.buffet|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de resumé</p>
                  {% endif %}
                  <p class="soustitre-fiche">Console</p>
                  {% if orgue.console %}
                    <div id="console">{{ orgue.console|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de description</p>
                  {% endif %}
                  <h2 class="titre-fiche">Partie instrumentale</h2>
                  <p class="soustitre-fiche">Sommiers</p>
                  {% if orgue.sommiers %}
                    <div id="sommiers">{{ orgue.sommiers|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de description</p>
                  {% endif %}
                  <p class="soustitre-fiche">Soufflerie</p>
                  {% if orgue.soufflerie %}
                    <div id="soufflerie">{{ orgue.soufflerie|safe }}</div>
                  {% else %}
                    <p class="text-muted">Pas de description</p>
                  {% endif %}
                  {% if orgue.images.count %}
                    <h2 class="titre-fiche">Images</h2>
                    <div class="row">
                      {% for image in orgue.images.all %}

                        <div class="col-lg-4" style="padding: 0 10px;">
                          <div class="grid-item">
                            <div class="grid-item-wrap">
                              <div class="grid-image"><img alt="Image Lightbox" src="{{ image.thumbnail.url }}"/>
                              </div>
                              <div class="grid-description">
                                <a title="{% if image.legende %}<b>{{ image.legende }}</b> <br>{% endif %} {% if image.credit %}<span class='text-muted'>Crédit : {{ image.credit }}</span>{% endif %}"
                                   data-lightbox="gallery-image" href="{{ image.image.url }}"
                                   class="btn btn-light btn-rounded">+</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  {% else %}
                    <p class="text-muted">Aucune image</p>
                  {% endif %}
                  <h2 class="titre-fiche">Fichiers</h2>
                  {% if orgue.fichiers.count %}
                    <ul>
                      {% for fichier in orgue.fichiers.all %}
                        <li>
                          <a href="{{ fichier.file.url }}" target="_blank" rel="noopener noreferrer">
                            {% if fichier.description %}
                              {{ fichier.description }}
                            {% else %}
                              {{ fichier.file }}
                            {% endif %}
                          </a>
                        </li>

                      {% endfor %}
                    </ul>
                  {% else %}
                    <p class="text-muted">Aucun fichier</p>
                  {% endif %}
                  <h2 class="titre-fiche">Sources</h2>
                  {% if orgue.sources.count %}
                    <ul>
                      {% for source in orgue.sources.all %}
                        <li>
                          {% if source.lien %}
                            <a href="{{ source.lien }}" target="_blank"
                               rel="noopener noreferrer">{{ source.description }} ({{ source.type }})</a>
                          {% else %}
                            {{ source.description }} ({{ source.type }})
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <p class="text-muted">Aucune source</p>
                  {% endif %}
                </div>
                <hr>
              </div>
            </div>
          </div>
          <p class="text-center">Code de l'orgue : {{ orgue.codification }}</p>
        </div>
        <div class="col-lg-3 order-1 col-md-12 order-lg-2  mb-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <dl>
                <dt>Facteurs</dt>
                <dd>
                  {% for evenement in facteurs_evenements %}
                    <span>{{ evenement.facteurs.all|join:' & ' }} ({{ evenement.type }} - {{ evenement.annee }})</span>
                    {% if not forloop.last %},{% endif %}
                  {% empty %}
                    Pas d'information
                  {% endfor %}
                </dd>
                <dt>Emplacement</dt>
                <dd>{{ orgue.emplacement|default_if_none:"Non défini" }}</dd>
                <dt>Etat de l'instrument</dt>
                <dd>{{ orgue.get_etat_display|default_if_none:"Non défini" }}</dd>
                <hr>
                <dt>Composition</dt>
                <dd>
                  {{ orgue.resume_composition }}
                </dd>
                <dt>Transmission des notes</dt>
                <dd>{{ orgue.get_transmission_notes_display |default_if_none:"Non définie" }}</dd>
                <dt>Tirage des jeux</dt>
                <dd>{{ orgue.get_tirage_jeux_display|default_if_none:"Non défini" }}</dd>
                <hr>
                <dt>Propriétaire</dt>
                <dd>{{ orgue.get_proprietaire_display|default_if_none:"Non défini" }}</dd>
                {% if orgue.organisme %}
                  <dt>Organisme</dt>
                  <dd>
                    {{ orgue.organisme }} <br>
                  </dd>
                {% endif %}
                {% if orgue.lien_reference %}
                  <dt>Lien de référence</dt>
                  <dd>
                    <a href="{{ orgue.lien_reference }}" target="_blank"
                       rel="noopener noreferrer">{{ orgue.lien_reference|truncatechars:40 }}</a>
                  </dd>
                {% endif %}
              </dl>

              {% if orgue.liens_pop %}
                <dt>Inscription ou classement</dt>
                <dd>
                    {% for lien in orgue.liens_pop %}
                        <a href="{{ lien.href }}" target="_blank" rel="noopener noreferrer">{{ lien.title }}</a> <br>
                    {% endfor %}
                </dd>
                <img src="{% static "img/MH3A_simplifiee_RVB.png" %}" class="img-fluid mb-3" alt="">
              {% endif %}
              {% if orgue.latitude and orgue.longitude %}
                <div id="mapid" style="height:150px;margin-bottom:10px"></div>
              {% endif %}
            </div>
          </div>
          <div class="mb-4  box-shadow">
            <a href="{% url 'orgues:orgue-update' object.uuid %}" class="btn btn-primary  btn-block">
              <i class="fa fa-edit"></i> Compléter la fiche
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block js_extra %}

  <!-- 1 -->
  <link title="timeline-styles" rel="stylesheet"
        href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">


  <!-- 2 -->
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

  {% if evenements.count %}
    <!-- 3 -->
    <script type="text/javascript">
        // The TL.Timeline constructor takes at least two arguments:
        // the id of the Timeline container (no '#'), and
        // the URL to your JSON data file or Google spreadsheet.
        // the id must refer to an element "above" this code,
        // and the element must have CSS styling to give it width and height
        // optionally, a third argument with configuration options can be passed.
        // See below for more about options.
        var timeline_json = {

            "events": [
                {% for evenement in evenements %}
                    {
                        "start_date": {"year": "{{evenement.annee}}"},
                        "text": {
                            "headline": "<b>{{ evenement.get_type_display }}</b>",
                            "text": "{% if evenement.resume %}{{ evenement.resume|safe|escapejs}}{% endif %}"
                        }
                    },
                {% endfor %}
            ]
        };

        var additionalOptions = {
            timenav_height: 130,
            timenav_height_min: 60
        }
        new TL.Timeline('timeline-embed', timeline_json, additionalOptions);
    </script>
  {% endif %}
  {% if orgue.latitude and orgue.longitude %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script>
        var mymap = L.map('mapid', {
            scrollWheelZoom: false,
        }).setView([{{ object.latitude|safe }}, {{ object.longitude|safe }}], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var marker = L.marker([{{ object.latitude|safe }}, {{ object.longitude|safe }}]).addTo(mymap);
    </script>
  {% endif %}

{% endblock %}
