<form id="search-form" action="{% url 'orgues:orgue-list' %}#orgue-list" class="" method="get">
  <div class="form-group">
    <label for="">Département</label>
    <select name="departement" id="id_departement" class="form-control" value="{{ request.GET.departement }}">
      <option value="">Choisir un departement</option>
      {% if request.GET.departement %}
        <option value="{{ request.GET.departement }}" selected="selected">{{ selected_departement }}</option>
      {% endif %}
    </select>
  </div>
  <div class="form-group">
    <label for="">Commune</label>
    <select name="commune" id="id_commune" class="form-control" value="{{ request.GET.commune }}">
      <option value="">Choisir une commune</option>
      {% if request.GET.commune %}
        <option value="{{ request.GET.commune }}" selected="selected">{{ selected_commune }}</option>
      {% endif %}
    </select>
  </div>
  <div class="form-group">
    <label for="">Edifice</label>
    <input type="text" id="id_edifice" name="edifice" placeholder="Ex: Saint-Laurent" class="form-control" value="{{ request.GET.edifice }}">
  </div>
  <div class="form-group">
    <label for="">Facteur</label>
    <select id="id_facteur" name="facteur" class="form-control">
      <option value="">Tous les facteurs</option>
      {% if facteur %}
        <option value="{{ facteur.pk }}" selected="selected">{{ facteur }}</option>
      {% endif %}
    </select>
  </div>
  <div class="form-group text-right">
    <button type="submit" id="btn" class="btn btn-primary btn-sm btn-slide">
      <i id="search-btn" class="fa fa-search"></i>
    </button>
  </div>
</form>
